*{
    margin : 0px;
    padding : 0px;
}
#game{
    height : 100vh;
    width : 100%;
    z-index: 0;
    position : absolute;
    background-color: antiquewhite;
    display : flex;
    justify-content: space-between;
}
#mode{
    height : 100vh;
    width : 100%;
    z-index: 0;
    position : absolute;
    background-color: antiquewhite;
    display : flex;
    flex-direction : column;
    justify-content: space-around;
    z-index: 1;
}
.choice{
    display : flex;
    justify-content: center;
    width : 100%;
}
#board{
    height : 80%;
    width : 60%;
    display : flex;
    flex-direction: column;
    justify-content: space-around;
}
.row{
    height : 5%;
    width : 99%;
    display: flex;
    justify-content: space-around;
}
.square{
    border : 1px solid black;
    border-radius : 3px;
    height : 100%;
    width : 5%;
}
.teleport{
    background-color: blueviolet;
}
.wall{
    background-color : rgba(0, 0, 0, 0.6);
}
.player1{
    background-color : rgba(0, 128, 0, 0.6);
}
.player2{
    background-color : rgba(255, 0, 0, 0.6);
}
.player3{
    background-color : rgba(0, 0, 255, 0.6);
}
.player4{
    background-color: rgba(255, 255, 0, 0.6);
}
button{
    height : 100px;
    width : 50%;
}
#nbr{
    height : 80%;
    width : 30%;
}
#reminder{
    width : 100px;
    height: 50px;
    border-radius : 5px;
}