*{
    margin : 0px;
    padding : 0px;
}
#game{
    height : 100vh;
    width : 100%;
    z-index: 0;
    position : absolute;
    background-color: antiquewhite;
    display : flex;
    justify-content: space-between;
}
#mode{
    height : 100vh;
    width : 100%;
    z-index: 0;
    position : absolute;
    background-color: antiquewhite;
    display : flex;
    flex-direction : column;
    justify-content: space-around;
    z-index: 1;
}
.choice{
    display : flex;
    justify-content: center;
    width : 100%;
}
#board{
    height : 80%;
    width : 60%;
    display : flex;
    flex-direction: column;
    justify-content: space-around;
}
.row{
    height : 5%;
    width : 99%;
    display: flex;
    justify-content: space-around;
}
.square{
    border : 3px solid black;
    height : 100%;
    width : 5%;
}
.teleport{
    background-color: blueviolet;
}
.wall{
    background-color : black;
}
.player1{
    background-color : green;
}
.player2{
    background-color : red;
}
.player3{
    background-color : blue;
}
.player4{
    background-color: yellow;
}
button{
    height : 100px;
    width : 50%;
}
#nbr{
    height : 80%;
    width : 30%;
    border : 3px solid black
}
#reminder{
    width : 100px;
    height: 50px;
}